In [20]:
import pandas as pd
import numpy as np
from numpy.random import randn
import string

* ### Series is just single colum of data

In [21]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [23]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [24]:
serie1 = pd.Series(data=data1,index=index1)
serie1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [25]:
dico = {k:v for k,v in zip(index1,data1) }

In [26]:
serie2 = pd.Series(dico)
serie2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [28]:
df = pd.DataFrame(randn(5,5),index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A -1.488722  0.271844  1.487908  1.294818  1.236919
B  1.106542  1.320830 -0.749455  1.999508  1.290226
C -0.151562 -1.103574 -0.473309  0.247127  0.915228
D  0.305213  0.162885  0.260149 -1.094696 -0.319332
E  0.590168 -0.717990 -1.971998  0.807732  1.678229

In [29]:
# Selecting Columns
df[['V','X']]

          V         X
A -1.488722  1.487908
B  1.106542 -0.749455
C -0.151562 -0.473309
D  0.305213  0.260149
E  0.590168 -1.971998

In [30]:
df[['W','Y']]

          W         Y
A  0.271844  1.294818
B  1.320830  1.999508
C -1.103574  0.247127
D  0.162885 -1.094696
E -0.717990  0.807732

In [31]:
# We use iloc to select a particular row
df.iloc[0]

V   -1.488722
W    0.271844
X    1.487908
Y    1.294818
Z    1.236919
Name: A, dtype: float64

In [32]:
df[['X','Z']].loc[['A','B']]

          X         Z
A  1.487908  1.236919
B -0.749455  1.290226

In [33]:
df.loc[['A','B','C']]

          V         W         X         Y         Z
A -1.488722  0.271844  1.487908  1.294818  1.236919
B  1.106542  1.320830 -0.749455  1.999508  1.290226
C -0.151562 -1.103574 -0.473309  0.247127  0.915228

In [34]:
df[df['W']> 0]

          V         W         X         Y         Z
A -1.488722  0.271844  1.487908  1.294818  1.236919
B  1.106542  1.320830 -0.749455  1.999508  1.290226
D  0.305213  0.162885  0.260149 -1.094696 -0.319332

In [35]:
df['U']  = df['V']+df['Z'] # adding new column to the data frame

In [36]:
df

          V         W         X         Y         Z         U
A -1.488722  0.271844  1.487908  1.294818  1.236919 -0.251803
B  1.106542  1.320830 -0.749455  1.999508  1.290226  2.396767
C -0.151562 -1.103574 -0.473309  0.247127  0.915228  0.763666
D  0.305213  0.162885  0.260149 -1.094696 -0.319332 -0.014118
E  0.590168 -0.717990 -1.971998  0.807732  1.678229  2.268397

In [37]:
df[df['U'] > df['V']]

          V         W         X         Y         Z         U
A -1.488722  0.271844  1.487908  1.294818  1.236919 -0.251803
B  1.106542  1.320830 -0.749455  1.999508  1.290226  2.396767
C -0.151562 -1.103574 -0.473309  0.247127  0.915228  0.763666
E  0.590168 -0.717990 -1.971998  0.807732  1.678229  2.268397